html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

                         /* Header */


.header-index,
.header-catalog {
  background-color: #eeeeee;
}

.header-container {
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation {
  display: flex;
  position: relative;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 76px;
  list-style: none;
}

.main-logo {
  margin-top: 49px;
  margin-right: 202px;
}

.navigation-list a,
.basket {
  display: block;
  color: #000000;
}

.navigation-list li {
  margin-right: 46px;
  margin-bottom: 20px;
}

.basket {
  margin-top: 76px;
  margin-left: auto;
}

.basket::before {
  display: block;
  position: absolute;
  top: 82px;
  right: 80px;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-image: url("../img/cart-icon.svg");
  opacity: 0.3;
}

.navigation-list a:hover,
.navigation-list a:focus,
.basket:hover,
.basket:focus {
  color: #ff6666;
}

.navigation-list a:active,
.basket:active {
  color: #a6a6a6;
}

.navigation-current {
  border-bottom-color: #ff6666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 2px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:focus {
  opacity: 0.3;
}

                  /* Slider */


.features {
  position: relative;
  background-color: #eeeeee;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.feature-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;
}

.feature-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button-slider {
  display: block;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.feature-item {
  display: none;
  padding-top: 67px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
}

.feature-item:nth-child(1) {
  display: block;
}

.feature-item:nth-child(1) {
  background-image: url("../img/slide-smartphones.png");
  background-repeat: no-repeat;
  background-position: 93% 6px;
}

.feature-item:nth-child(2) {
  background-image: url("../img/slide-desktops.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.feature-item:nth-child(3) {
  background-image: url("../img/slide-gadgets.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

                     /* Services */


.main-container {
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 51px;
}

.services-list li {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.services-list li:nth-child(3n) {
  margin-right: 0;
}

.services-list h3 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list p {
  margin-bottom: 46px;
  color: #333333;
}

.services-button {
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  color: #e37376;
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: #4dc491;
  box-shadow: inset 0 3px #009958;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: #edc265;
  box-shadow: inset 0 3px #ce961f;
}

.list-item-websites::before {
  content: "";
  display: block;
  margin-bottom: 25px;
  position: relative;
  width: 300px;
  height: 146px;
  background-color: #ff6666;
  background-image: url("../img/websites.png");
}

.list-item-apps::before {
  content: "";
  display: block;
  margin-bottom: 26px;
  position: relative;
  width: 300px;
  height: 146px;
  background-color: #00ca74;
  background-image: url("../img/apps.png");
}

.list-item-presentations::before {
  content: "";
  display: block;
  margin-bottom: 26px;
  position: relative;
  width: 300px;
  height: 146px;
  background-color: #00ca74;
  background-image: url("../img/presentations.png");
}

.services::after {
  content: "";
  display: block;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 40px;
}

                /* About studio*/


.about-studio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.colums-about-left {
  width: 660px;
}

.colums-about-left p:first-child {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-top: 34px;
  margin-bottom: 34px;
}

.colums-about-left p:nth-child(2) {
  color: #283136;
  margin-bottom: 39px;
}

.colums-about-left p:nth-child(3),
.columns-about-right p {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.columns-about-right {
  width: 360px;
  background-image: url("../img/nerds-illustration.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.columns-about-right p {
  margin-top: 244px;
  padding-left: 17px;
  padding-bottom: 20px;
}

.about-studio ul,
.partners ul {
  list-style: none;
  position: relative;
}

.about-studio li {
  color: #283136;
  margin-bottom: 24px;
}


.about-studio li::before {
  content: "";
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 10px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


.statistics th,
.statistics td {
  width: 120px;
  height: 50px;
}

.statistics th {
  vertical-align: top;
  text-align: left;
  padding-top: 12px;
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.statistics td {
  color: #283136;
  line-height: 18px;
}

.statistics sup {
  font-size: 28px;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1090px;
  min-height: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

.partners::before,
.partners::after {
  content: "";
  display: block;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.partners::after {
  margin-bottom: 80px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.partners li:after {
  content: "";
  position: absolute;
  top: 64px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

                      /* Contacts*/

.contact-info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  height: 416px;
  background-image: url("../img/map-with-marker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b5b5b5;
}

.wrapper-info {
  position: relative;
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.container-info {
  display: flex;
  flex-direction: column;
  padding-top: 49px;
  padding-right: 50px;
  padding-left: 50px;
  position: absolute;
  top: 54px;
  left: 20px;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
}

.container-info p:first-child {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.container-info p:nth-child(2),
.container-info p:nth-child(3) {
  margin-left: 2px;
  color: #666666;
  line-height: 18px;
}

.container-info p:nth-child(2) {
  margin-bottom: 19px;
}

.container-info p:nth-child(3) {
  margin-bottom: 38px;
}

.container-info a {
  padding: 15px 44px 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  background-color: #fb565a;
}

                     /* form*/

.form {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  margin-left: -480px;
  bottom: 180px;
  padding-top: 67px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 99px;
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px;
  display: none;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 35px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 41px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}


.form-item label {
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
}

.form-item input{
  width: 359px;
  height: 50px;
}

.form-item textarea {
  padding-top: 10px;
  min-height: 118px;
  resize: none;
  margin-bottom: 48px;
}

.form-item input,
.form-item textarea {
  padding-left: 13px;
  font: inherit;
  color: #444444;
  opacity: 0.5;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.form-item input:focus,
.form-item textarea:focus {
  color: #444444;
  opacity: 1;
  border: 2px solid #d7dcde;
}

.form-item input:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.form-button {
  padding-top: 17px;
  padding-right: 84px;
  padding-bottom: 16px;
  padding-left: 84px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.button-close {
  position: absolute;
  top: 78px;
  right: 89px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  background-image: url("../img/close-cross.svg");
  opacity: 0.3;
  background-color: transparent;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

                          /* Footer */


.container-footer  {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 143px;
  width: 257px;
  justify-content: space-between;
  list-style: none;
}

.social-icons {
  display: block;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icons-vk {
  margin-top: 31px;
  margin-left: 26px;
}

.social-icons-fb {
  margin-top: 27px;
  margin-left: 33px;
}

.social-icons-insta {
  margin-top: 29px;
  margin-left: 29px;
}

.social-icons:hover,
.social-icons:focus {
  background-color: #e74246;
}

.social-icons:active {
  background-color: #d7373b;
  box-shadow: inset 0 2px #c13135;
}

.social-icons:active svg {
  opacity: 0.3;
}

.footer-column-right {
  padding-top: 7px;
}

.footer-column-right p:first-child {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.footer-column-right p:nth-child(2) {
  color: #444444;
  line-height: 22px;
}


                     /* Catalog.html */

.header-catalog {
  margin-bottom: 51px;
}

.heading-catalog {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 62px;
  padding-right: 2px;
  padding-bottom: 109px;
}

.container-catalog {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 20px;
}

.filter-form {
  margin-top: 3px;
  margin-right: 139px;
}

.filter-form fieldset {
  margin-bottom: 56px;
  padding: 0;
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-form legend:first-child {
  letter-spacing: 0.5px;
}

.filter-form ul {
  list-style: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-bottom: 41px;
  padding-right: 20px;
  padding-left: 21px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  box-sizing: content-box;
  width: 60px;
  padding: 9px 10px;
  margin-left: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-grid li:first-of-type,
.filter-grid li:nth-of-type(2) {
  margin-bottom: 15px;
}

.filter-features li:not(:last-of-type) {
  margin-bottom: 17px;
}

.filter-grid legend,
.filter-features legend {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-grid label,
.filter-features label {
  padding-left: 35px;
  color: #283136;
  line-height: 20px;
}

.filter-grid ul,
.filter-features ul {
  position: relative;
}

                        /* Radio-button */

.radio-button {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-normal.svg");
}

.radio-input:checked + label .radio-button {
  background-image: url("../img/radio-on-normal.svg");
}


.radio-input:focus + label .radio-button,
.radio-input:hover + label .radio-button {
  background-image: url("../img/radio-off-focus.svg");
}

.radio-input:checked:focus + label .radio-button,
.radio-input:checked:hover + label .radio-button {
  background-image: url("../img/radio-on-focus.svg");
}

.radio-input:disabled + label .radio-button {
  background-image: url("../img/radio-off-disabled.svg");
}

.radio-input:checked:disabled + label .radio-button {
  background-image: url("../img/radio-on-disabled.svg");

}

.radio-input:disabled + label {
  color: #bec1c2;
}

                /* check-box */

.check-box {
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.input-check:checked + label .check-box {
  background-image: url("../img/checkbox-on.svg");
}

.input-check:focus + label .check-box,
.input-check:hover + label .check-box {
  background-image: url("../img/checkbox-off-focus.svg");
}

.input-check:checked:focus + label .check-box,
.input-check:checked:hover + label .check-box {
  background-image: url("../img/checkbox-on-focus.svg");
}

.input-check:disabled + label .check-box {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.input-check:checked:disabled + label .check-box {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.input-check:disabled + label {
  color: #bec1c2;
}

                /* filter button */

.filter-button {
  width: 260px;
  height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background-color: #eeeeee;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}

.sorting {
  display: flex;
  width: 760px;
  margin-bottom: 51px;
}

.sorting p:first-child {
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting ul {
  display: flex;
  list-style: none;
  margin-top: 4px;
  margin-right: 63px;
}

.sorting li {
  margin-right: 26px;
}

.sorting-option {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}

.sorting-option:hover,
.sorting-option:focus {
  opacity: 0.6;
}

.sorting-option:active {
  opacity: 1;
}

.down-direction::after,
.up-direction::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;

}

.arrows {
  position: relative;
}

.down-direction::after {
  background-image: url("../img/icon-down-dir.svg");
  top: 11px;
  right: 31px;
  opacity: 0.2;
}

.down-direction:hover::after,
.down-direction:focus::after {
  opacity: 0.6;
}

.down-direction:active::after {
  opacity: 1;
}

.up-direction::after {
  background-image: url("../img/icon-up-dir.svg");
  top: 11px;
  right: 2px;
  opacity: 0.2;
}

.up-direction:hover::after,
.up-direction:focus::after {
  opacity: 0.6;
}

.up-direction:active::after {
  opacity: 1;
}




                 /*Карточки товара*/


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  list-style: none;
  position: relative;
}

.item-container {
  left: 0;
  bottom: 0;
  background-color: #eeeeee;
  width: 360px;
  height: 231px;
  display: none;
}

.item-name {
  margin-bottom: 14px;
}

.item-name a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-item {
  margin-bottom: 33px;
  position: relative;
  line-height: 0;
  width: 360px;
}

.catalog-list .catalog-item:nth-last-child(1),
.catalog-list .catalog-item:nth-last-child(2) {
  margin-bottom: 60px;
}

.catalog-item img {
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.catalog-item svg {
  opacity: 0.12;
}

.catalog-item:hover svg,
.catalog-item:focus svg {
  opacity: 1;
}

.catalog-item:hover .item-container,
.catalog-item:focus .item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 27px;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-name a:hover,
.item-name a:focus {
  color: #fb565a;
}

.item-name a:active {
  color: #000000;
  opacity: 0.3;
}

.item-container p {
  margin-bottom: 29px;
  margin-left: 62px;
  margin-right: 62px;
  color: #666666;
  line-height: 18px;
  text-align: center;
}

.button-price {
  padding-top: 27px;
  padding-right: 60px;
  padding-bottom: 25px;
  padding-left: 60px;
  background-color: #fb565a;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.button-price:hover,
.button-price:focus {
  background-color: #e74246;
}

.button-price:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

/*  Pagination  */
.pagination {
  margin-bottom: 60px;
  list-style: none;
  display: flex;
}

.pagination a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 2px;
  text-transform: uppercase;
}

.pagination a:not(.next) {
  margin-right: 11px;
}

a.pagination-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  line-height: 44px;
}

a.next {
  width: 260px;
}

.pagination a:hover:not(.pagination-current),
.pagination a:focus:not(.pagination-current) {
  background-color: #dfdfdf;
}

.pagination a:active:not(.pagination-current) {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}
